ChangeLog
*.otf
*.ttf
*.ttc
*.woff
*.woff2
*-Romanian*.sfd
*-Polish*.sfd
*-Bulgarian*.sfd
*-Yugoslav*.sfd
*-Livonian*.sfd
*-Sami*.sfd
*-Pinyin*.sfd
Inconsolata-LGC-*.mk
*.ufo
*.designspace
Inconsolata-LGC-Minimum*
Inconsolata-LGC-Maximum*
InconsolataLGC/
InconsolataLGC-OT/
InconsolataLGC-WOFF2/
InconsolataLGC-TTC/
InconsolataLGC-Variable/
*.tar.xz
*.tar.gz
*.tar.bz2
*.zip
